{% extends "./base.html" %}
{% load static %}

{% block head %}
<script src={% static 'main/functions.js'%}> </script>
{% endblock head %}

{% block body %}
    {% for blog, is_subscribed in blogs %}
        <h2> {{blog.author}} </h2>
        <p> Subscribers: </p>
        <ul>
            {% for subscriber in blog.subscribers.all %}
            <li>{{subscriber}}</li>
            {% endfor %}
        </ul>
        {% if is_subscribed %}
        <button id="blog-btn{{blog.id}}" onclick="btn_click({{blog.id}})">unsubscribe</button>
        {% endif %}
        {% if not is_subscribed %}
        <button id="blog-btn{{blog.id}}" onclick="btn_click({{blog.id}})">subscribe</button>
        {% endif %}
        <hr>
        
    {% endfor %}
    <script>
        function btn_click(id){
            const button = document.getElementById('blog-btn' + id);
            postData('/blogs', {"id": id}, _ => {
                    location.reload();
                });
        }
    </script>

{% endblock body%}